# Created by https://www.gitignore.io/api/netbeans,composer,bower

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Composer ###
composer.phar

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### NetBeans ###

# End of https://www.gitignore.io/api/netbeans,composer,bower
sufee-admin-dashboard-master/vendors/bootstrap/build/.eslintrc.json
sufee-admin-dashboard-master/vendors/bootstrap/build/.htmllintrc
sufee-admin-dashboard-master/vendors/bootstrap/build/build-plugins.js
sufee-admin-dashboard-master/vendors/bootstrap/build/change-version.js
sufee-admin-dashboard-master/vendors/bootstrap/build/gcp-key.json.enc
sufee-admin-dashboard-master/vendors/bootstrap/build/generate-sri.js
sufee-admin-dashboard-master/vendors/bootstrap/build/lint-vars.js
sufee-admin-dashboard-master/vendors/bootstrap/build/postcss.config.js
sufee-admin-dashboard-master/vendors/bootstrap/build/rollup.config.js
sufee-admin-dashboard-master/vendors/bootstrap/build/sauce_browsers.json
sufee-admin-dashboard-master/vendors/bootstrap/build/saucelabs-unit-test.js
sufee-admin-dashboard-master/vendors/bootstrap/build/ship.sh
sufee-admin-dashboard-master/vendors/bootstrap/build/vnu-jar.js
sufee-admin-dashboard-master/vendors/bootstrap/build/workbox.config.json
sufee-admin-dashboard-master/vendors/bootstrap/build/workbox.js
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-grid.css
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-grid.css.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-grid.min.css
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-grid.min.css.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-reboot.css
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-reboot.css.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-reboot.min.css
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap-reboot.min.css.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap.css
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap.css.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap.min.css
sufee-admin-dashboard-master/vendors/bootstrap/dist/css/bootstrap.min.css.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.bundle.js
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.bundle.js.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.bundle.min.js.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.js
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.js.map
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.min.js
sufee-admin-dashboard-master/vendors/bootstrap/dist/js/bootstrap.min.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/alert.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/alert.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/button.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/button.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/carousel.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/carousel.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/collapse.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/collapse.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/dropdown.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/dropdown.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/index.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/index.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/modal.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/modal.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/popover.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/popover.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/scrollspy.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/scrollspy.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/tab.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/tab.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/tooltip.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/tooltip.js.map
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/util.js
sufee-admin-dashboard-master/vendors/bootstrap/js/dist/util.js.map
sufee-admin-dashboard-master/vendors/chart.js/dist/Chart.bundle.js
sufee-admin-dashboard-master/vendors/chart.js/dist/Chart.bundle.min.js
sufee-admin-dashboard-master/vendors/chart.js/dist/Chart.js
sufee-admin-dashboard-master/vendors/chart.js/dist/Chart.min.js
sufee-admin-dashboard-master/vendors/gaugejs/dist/gauge.coffee
sufee-admin-dashboard-master/vendors/gaugejs/dist/gauge.js
sufee-admin-dashboard-master/vendors/gaugejs/dist/gauge.min.js
sufee-admin-dashboard-master/vendors/jquery/dist/jquery.js
sufee-admin-dashboard-master/vendors/jquery/dist/jquery.min.js
sufee-admin-dashboard-master/vendors/jquery/dist/jquery.min.map
sufee-admin-dashboard-master/vendors/jquery/external/sizzle/dist/sizzle.js
sufee-admin-dashboard-master/vendors/jquery/external/sizzle/dist/sizzle.min.js
sufee-admin-dashboard-master/vendors/jquery/external/sizzle/dist/sizzle.min.map
sufee-admin-dashboard-master/vendors/jquery-validation/build/release.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/additional-methods.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/additional-methods.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/jquery-validation-sri.json
sufee-admin-dashboard-master/vendors/jquery-validation/dist/jquery.validate.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/jquery.validate.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ar.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ar.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_az.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_az.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_bg.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_bg.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_bn_BD.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_bn_BD.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ca.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ca.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_cs.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_cs.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_da.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_da.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_de.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_de.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_el.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_el.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_es_AR.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_es_AR.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_es_PE.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_es_PE.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_es.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_es.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_et.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_et.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_eu.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_eu.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_fa.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_fa.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_fi.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_fi.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_fr.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_fr.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ge.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ge.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_gl.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_gl.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_he.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_he.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_hr.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_hr.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_hu.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_hu.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_hy_AM.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_hy_AM.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_id.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_id.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_is.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_is.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_it.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_it.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ja.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ja.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ka.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ka.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_kk.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_kk.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ko.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ko.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_lt.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_lt.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_lv.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_lv.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_mk.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_mk.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_my.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_my.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_nl.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_nl.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_no.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_no.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_pl.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_pl.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_pt_BR.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_pt_BR.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_pt_PT.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_pt_PT.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ro.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ro.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ru.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ru.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sd.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sd.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_si.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_si.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sk.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sk.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sl.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sl.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sr_lat.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sr_lat.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sr.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sr.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sv.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_sv.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_th.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_th.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_tj.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_tj.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_tr.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_tr.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_uk.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_uk.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ur.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_ur.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_vi.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_vi.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_zh_TW.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_zh_TW.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_zh.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/messages_zh.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_de.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_de.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_es_CL.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_es_CL.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_fi.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_fi.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_it.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_it.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_nl.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_nl.min.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_pt.js
sufee-admin-dashboard-master/vendors/jquery-validation/dist/localization/methods_pt.min.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/jquery.vmap.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/jquery.vmap.min.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/jqvmap.css
sufee-admin-dashboard-master/vendors/jqvmap/dist/jqvmap.min.css
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.algeria.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.argentina.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.brazil.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.canada.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.europe.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.france.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.germany.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.greece.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.iran.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.iraq.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.russia.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.tunisia.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.turkey.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.usa.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/jquery.vmap.world.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/continents/jquery.vmap.africa.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/continents/jquery.vmap.asia.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/continents/jquery.vmap.australia.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/continents/jquery.vmap.europe.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/continents/jquery.vmap.north-america.js
sufee-admin-dashboard-master/vendors/jqvmap/dist/maps/continents/jquery.vmap.south-america.js
sufee-admin-dashboard-master/vendors/jszip/dist/jszip.js
sufee-admin-dashboard-master/vendors/jszip/dist/jszip.min.js
sufee-admin-dashboard-master/vendors/pdfmake/build/pdfmake.js
sufee-admin-dashboard-master/vendors/pdfmake/build/pdfmake.js.map
sufee-admin-dashboard-master/vendors/pdfmake/build/pdfmake.min.js
sufee-admin-dashboard-master/vendors/pdfmake/build/pdfmake.min.js.map
sufee-admin-dashboard-master/vendors/pdfmake/build/vfs_fonts.js
sufee-admin-dashboard-master/vendors/popper.js/dist/popper-utils.js
sufee-admin-dashboard-master/vendors/popper.js/dist/popper-utils.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/popper-utils.min.js
sufee-admin-dashboard-master/vendors/popper.js/dist/popper-utils.min.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/popper.js
sufee-admin-dashboard-master/vendors/popper.js/dist/popper.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/popper.min.js
sufee-admin-dashboard-master/vendors/popper.js/dist/popper.min.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper-utils.js
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper-utils.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper-utils.min.js
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper-utils.min.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper.js
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper.min.js
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/popper.min.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/esm/poppper.js.flow
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper-utils.js
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper-utils.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper-utils.min.js
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper-utils.min.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper.js
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper.js.map
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper.min.js
sufee-admin-dashboard-master/vendors/popper.js/dist/umd/popper.min.js.map
